:root {
    --background-color: #f5f2fe;
    --color: red;
  }
  
  .fix-top {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1030;
  }
  
  .name {
    font-size: 76px;
  }

  .h2 {
    font-size: 36px;
    opacity: 0.8;
  }

  .blog {
    font-weight: 600;
  }
  
  footer {
    margin-top: 100px;
  }
  .mail {
    margin-top: 300px;
    text-decoration: none;
  }
  .mail:hover {
    color: var(--color);
  }

  @media (max-width:576px){
    h1 {
        font-size: 48px;
        line-height: 1.5;
      }
    
      .h2 {
        font-size: 24px;
        text-align: center;
      }
    
      .lorem {
        text-align: center;
        margin: 20px 20px;
      }
  }